body {
    font-family: arial, sans-serif;
    color: orange;
    background-color: darkslateblue;
}

a:link {
    color: #ff6600;
}

a:visited {
    color: #ff6600;
}
img {
    border-width: 0;
}
a:link.no-underline {
    text-decoration:none;
}
a:visited.no-underline {
    text-decoration:none;
}
a:hover.no-underline {
    text-decoration: underline;
}
select {
    margin-top:4px;
    width:490px
}
.text-label {
    display: inline-block;
    width: 250px;
    text-align:left;
    margin-bottom: 8px;
}
audio {
    width: 400px;
}
#controls {
    margin-top: 4px;
    margin-bottom: 4px;
}
#song-title {
    font-size: 24;
    margin: 0 0 24 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 490px;
}
#help {
    font-size: smaller;
    margin: 4 0 0 0
}
#submit-button {
    margin-top: 10px;
}
#list-title {
    width: 490px
}
#sort-controls {
    float:right;
}
#album-art {
    margin-bottom: 6px;
    width: 490px;
    height: 490px;
}
